body {
    background: #e06e5e;
    font-family: 'Fraunces', serif;
    font-color:
}
#title {
    font-size: 25px;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: green;
    padding: 20px;
}
#welcome {
    margin:auto;
    font-size: 40px;
    width: 80%;
}
#welcomeart {
    margin: auto auto 50px auto;
    width: 70%;
    display:block;
    padding:20px;
}
#maincontent {
   padding:20px;
}
#searchbar {
    width: 80%;
    background: #ebe0c3;
    margin: auto;
}
#searchtext {
   padding: 20px;
}
.button {
    font-size: 20px;
}
#addmenu {
    font-size: 20px;
    background: #ebe0c3;
    display: none;
    padding: 20px;
    width: 70%;
    height: 60%;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#recipegrid {
    background: #ebe0c3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1% 10% 1% 10%;
    justify-content: center;
}
.recipecard {
    width: 280px;
    height: 220px;
    margin: 40px;
    background: #ebe0c3;
}