/* RESET
   http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */

/*
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::selection {
  background: var(--beige);
}
*/

a {
  text-decoration: none;
}

body, html {
    height: 100%;
    margin: 0;
}

body {
    --red: #e06e5e;
    --beige: #ebe0c3;
    --green: #bfdb63;
    --brown: #736445;
    background: var(--red);
    font-family: 'Fraunces', serif;
    color: var(--brown);
  }

.head {
    background-image: url("../img/head.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    margin: auto;
    font-size: 80px;
    color: var(--brown);
    width: 60%;
    padding-top: 8%;
}

#welcomeart {
    margin: auto 0px auto auto;
    width: 60%;
    display:block;
}

#welcome a {
  color: var(--red);
}

#title {
    font-size: 60px;
}

#searchbar {
    background: var(--beige);
    width:84%;
}

#searchbutton {
   font-size: 22px;
}

.button {
    font-size: 22px;
    background-color: var(--beige);
    border: none;
    font-family: 'Fraunces', serif;
    color: var(--brown);
}

#addbutton {
    font-size: 22px;
    background-color: var(--beige);
    border: none;
    font-family: 'Fraunces', serif;
    width:15%;
    text-align: center;
}

#recipegrid {
    background: var(--beige);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 20px;
    justify-content: center;
}

#recipe {
  width:100%;
  background-color: var(--beige);
  height: 500px;
  margin-top:5%;
}

#maincontent {
    width:60%;
    margin: auto;
}

#searchaddbar {
    /* display: grid;
    height: 50%;
    grid-template-columns: 1fr .1fr;
    grid-template-rows: 1fr; */
    display: flex;
    height: 20%;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

.recipecard {
    width: 220px;
    height: auto;
    margin: 20px;
    background: white;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
}

.recipeimg {
  height: 200px;
  object-fit: cover;
  border-radius: 8px 8px 0px 0px;
}

.recipetext {
  padding: 10px;
  font-size:12px;
}

.recipetitle {
  font-size:20px;
  padding-bottom:5px;
}

.recipeinfo {
  font-family: 'Nanum Gothic', sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#addmenu {
    font-size: 20px;
    background: var(--beige);
    display: none;
    padding: 20px;
    width: 50%;
    height: 60%;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.foot {
    background-image: url("../img/foot.png");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#goodbye {
    box-sizing: border-box;
    font-size: 30px;
    color: var(--brown);
    margin: auto;
    height: 100%;
    width: 60%;
    padding-bottom: 5%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-end;
}

#goodbyeart {
    margin: auto auto 0px 0px;
    width: 20%;
    display: block;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .head {
      height: 65%;
    }
    #welcome {
        font-size: 50px;
        width: 80%;
    }
    #welcomeart {
        margin: auto;
        width: 100%;
    }
    .bg {
        height: 50%;
    }
    #maincontent {
        width: 80%;
    }
    #searchbar {
      margin-top: 5%;
    }
    #goodbyeart {
        margin: auto auto 10% auto;
        width: 60%;
    }
    #goodbye {
        flex-direction: column;
        font-size:22px;
        justify-content: flex-start;
        align-items: center;
    }
}
