/* RESET
   http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET */


body, html {
    height: 100%;
    margin: 0;
}

body {
    background: #e06e5e;
    font-family: 'Fraunces', serif;
}

.bg {
    background-image: url("../img/head.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#welcome {
    margin:auto;
    font-size: 80px;
    width: 60%;
    padding-top: 8%;
}

#welcomeart {
    margin: auto 0px auto auto;
    width: 60%;
    display:block;
    padding:20px;
}

#title {
    font-size: 60px;
}

#searchbar {
    background: #ebe0c3;
}

#searchtext {
   padding: 20px;
}

.button {
    font-size: 20px;
}

#recipegrid {
    background: #ebe0c3;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1%;
    margin-bottom: 1%;
    justify-content: center;
}

#maincontent {
    width:60%;
    margin: auto;
}

.recipecard {
    width: 280px;
    height: 220px;
    margin: 40px;
    background: white;
}

#addmenu {
    font-size: 20px;
    background: #ebe0c3;
    display: none;
    padding: 20px;
    width: 50%;
    height: 60%;
    margin: auto;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
} 

/* MOBILE */
@media screen and (max-width: 768px) {
    #welcome {
        font-size: 40px;
        width: 80%;
    }
    #welcomeart {
        margin: auto;
        width: 100%;
    }
    .bg {
        height: 50%; 
    }
    #maincontent {
        width:80%;
    }
}
